<div class="header">

  <div class="profile-container">
    <img src="https://img.icons8.com/ios-filled/100/ffffff/user-male-circle.png" alt="Perfil" class="avatar" />

    <div class="dropdown">
      <div class="user-info">
        <img src="https://img.icons8.com/ios-filled/100/ffffff/user-male-circle.png" alt="Perfil" class="avatar" />
        <div class="info">
          <div class="nome">Vinicius</div>
        </div>
        <div class="status-indicator"></div>
      </div>

      <hr />

      <div class="menu-item" (click)="navegar('/perfil')">
        <span class="icon">⚙️</span>
        <span>Settings</span>
      </div>
      <div class="menu-item logout" (click)="logout()">
        <span class="icon">↩️</span>
        <span>Logout</span>
      </div>
    </div>
  </div>
</div>
