main{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #050505;
    color: white;

    #container{
        background-color: #232225;
        border-radius: 1em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35vw;

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 2em;
            

            .horariosLista{
                display: flex;
                gap: 1em;
                flex-wrap: wrap;
            }
        
            .horarioBtn{
                position: relative;
                display: flex;
        
            input[type="radio"]{
                appearance: none;
                position: relative;
                border: 1.5px solid #3E3C41;
                padding: 1.5em;
                width: 8em;
                border-radius: .5em;
                z-index: 2;
            }
        
            input[type="radio"]:checked{
                border: 1.5px solid #B8952E;
            }

            input[type="radio"]:checked + label{
                color: #B8952E;
            }

            input[type="radio"]:disabled{
                opacity: .7;
            }

            input[type="radio"]:disabled + label{
                opacity: .2;
                background-color: #2e2c3000;
            }
        
            label{
                position: absolute;
                background-color: #2E2C30;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            }

            input[type="date"]{
                appearance: none;
                border: 1.5px solid #3E3C41;
                padding: 1em;
                background-color: #2E2C30;
                border-radius: .5em;
                color: white;
                width: 100%;

                &:focus{
                color: #B8952E;
                border: #B8952E;
                outline: 1.5px solid #B8952E;
                }
            }

            #cliente{

                display: flex;
                flex-direction: column;
                gap: 1em;

            input[type="text"]{
                appearance: none;
                padding: 1em;
                border-radius: .5em;
                background-color: #2E2C30;
                border: 1.5px solid #3E3C41;
                color: white;

                &:focus{
                    outline: 1.5px solid #B8952E;
                    color: #B8952E;
                }
            }

            }

            button{
                appearance: none;
                padding: 1.2em;
                border-radius: .5em;
                border: none;
                background-color: #B8952E;
                color: white;
                font-weight: bolder;
                font-size: 1em;
            }
    
        }
    }
}