<main>
    <section>
            <div id="header">
                <div>
                    <h1>Sua agenda</h1>
                    <p>Consulte os seus cortes de cabelo agendados por dia</p>
                </div>

                <input type="date">
            </div>

            <div class="card">
                <h2>Manhã</h2>
                <ul>
                    <li>
                        <h3>11:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                    <li>
                        <h3>11:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>Tarde</h2>
                <ul>
                    <li>
                        <h3>11:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                    <li>
                        <h3>17:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h2>Noite</h2>
                <ul>
                    <li>
                        <h3>21:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                    <li>
                        <h3>22:00</h3>
                        <p>Ryan Dorwart</p>
                    </li>
                </ul>
            </div>
    </section>
</main>