<main>
    
        <app-header></app-header>
        <div id="banner"> 
        </div>

        <section>

            <div id="buttons">
                <button 
                routerLink="lista"
                routerLinkActive="activeRoute"
                [routerLinkActiveOptions]="{ exact: true }">
                    <img src="addIcon.svg" alt="">
                    <p>Novo</p>
                </button>

                <button
                routerLink="meus-agendamentos"
                routerLinkActive="activeRoute"
                [routerLinkActiveOptions]="{ exact: true }">
                    <img src="bookIcon.svg" alt="">
                    <p>Meus agendamentos</p>
                </button>
            </div>
            
            <div id="outlet">
                <router-outlet></router-outlet>
            </div>
            
        </section>
</main>