<main>
    
        <div id="banner">
            <button>
                &lt;
            </button>
        </div>

        <div id="container">
            
        <div id="headerText">
            <h1>Barber Shop</h1>
            <p>Avenida Senador Feijó, 350 - Vila Matias, Santos - SP, 11015-502</p>
        </div>
        <div>
            <h1>Serviços populares</h1>
            <div class="card">
                <div>
                    <h2>Corte masculino</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 40,00</p>
                    <button>Reservar</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <h2>Corte + barba</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 80,00</p>
                    <button>Reservar</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <h2>Barba</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 40,00</p>
                    <button>Reservar</button>
                </div>
            </div>
        </div>
        <div>
            <h1>Outros serviços</h1>
            <div class="card">
                <div>
                    <h2>Corte masculino</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 40,00</p>
                    <button>Reservar</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <h2>Corte + barba</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 40,00</p>
                    <button>Reservar</button>
                </div>
            </div>
            <div class="card">
                <div>
                    <h2>Barba</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 40,00</p>
                    <button>Reservar</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <h2>Corte com pente + barba</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 60,00</p>
                    <button>Reservar</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <h2>Corte feminino</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 50,00</p>
                    <button>Reservar</button>
                </div>
            </div>

            <div class="card">
                <div>
                    <h2>Corte com pente</h2>
                    <div class="lista">
                        <img src="homem.png" alt="">
                        <img src="mulher.png" alt="">
                        <img src="homem.png" alt="">
                    </div>
                </div>
                <div>
                    <p>R$ 30,00</p>
                    <button>Reservar</button>
                </div>
            </div>
        </div>
    </div>
</main>