@use "../../styles/variables.scss";

main{
    background-color: variables.$Background;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;

    section{
        display: flex;
        flex-direction: column;
        width: 72vw;
        margin: auto;
        box-sizing: border-box;

        #outlet{
            min-height: 30em;
        }

        #buttons{
            display: flex;
            gap: .5em;
            button{
                display: flex;
                gap: 1em;
                align-items: center;

                appearance: none;
                background-color: #2322253b;
                border: none;
                border-radius: .5em .5em 0 0;
                color: white;
                font-weight: bolder;
                padding: 1em;
            }

            button.activeRoute{
                background-color: #232225a9;
            }
        }
    }


    #banner{
        height: 20em;
        width: 72vw;
        margin: auto;
        border-radius: .5em;
        background-image: url(/clientes.png);
        background-position: center;
        background-size: cover;
        padding: 1em;
    }


    
    
}

@media screen and (max-width:950px) {
    main{
        section{
            width: 90vw;
        }

        #banner{
            width: 82vw;
        }
    }
}