main{
    background-color: #050505;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;


    #banner{
        height: 20em;
        width: 70vw;
        margin: auto;
        border-radius: .5em;
        background-image: url(/clientes.png);
        background-position: center;
        background-size: cover;
        padding: 1em;

    }


    #container{
        background-color: #232225b9;
        width: 70vw;
        margin: auto;
        padding: 1em;
        border-radius: 1em;

        #headerText{
            padding-top: 1em;
            padding-bottom: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
    
            p{
                color: rgba(255, 255, 255, 0.8);
            }
        }
    
        
        
    }
    
}