<div id="background">
    <div class="container">
      <div class="box">
        <header>
            <app-voltar-btn go="/"></app-voltar-btn>
            <h2 class="title">Primeira vez aqui?<br>Crie sua conta!</h2>   
        </header>      
    
        <form [formGroup]="signupForm" (ngSubmit)="signUp()" #formDir="ngForm">
          <div class="input">
              <label for="nome">Nome completo</label>
              <input type="nome" id="nome" formControlName="nome" placeholder="Seu nome" />
              @if (nome?.invalid && formDir.submitted) {
                <p class="error">O nome deve ter entre 5 a 50 caracteres.</p>
              }
          </div>

          <div class="input">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" placeholder="seuemail@email.com" />
              @if (email?.invalid && formDir.submitted) {
                <p class="error">Insira um email válido.</p>
              }
          </div>

          <div class="input">
              <label for="celular">Celular</label>
              <input type="celular" id="celular" formControlName="celular" placeholder="(xx)xxxxxxxxx" />
              @if (celular?.invalid && formDir.submitted) {
                <p class="error">O celular deve ter 11 digitos, contando o DDD.</p>
              }
          </div>
    
          <div class="input">
              <label for="senha">Senha</label>
              <input type="password" id="senha" formControlName="senha" placeholder="********" />
              @if (senha?.invalid && formDir.submitted) {
                <p class="error">A senha deve ter no minimo 6 caracteres.</p>
              }
          </div>

          <div class="input">
              <label for="senha">Confirme a sua senha</label>
              <input type="password" id="senha" formControlName="confirmarSenha" placeholder="********" />
              @if (confirmarSenha?.invalid && formDir.submitted) {
                <p class="error">Deve conter no minimo 6 digitos.</p>
              }
          </div>

          <p id="link">
            Já possui uma conta?<a href="/login"> Faça login</a>
          </p>

          <p>
            @if (status) {
              <p class="status {{status}}">{{responseMessage}}</p>
            }
          </p>

          <button type="submit">Cadastrar</button>
        </form>
    
       
      </div>
    
      <aside>
        <h1 class="register-text">Seja bem-vindo de volta!</h1>
         <p class="register-text">
          Se você já possuí uma conta basta clicar no botão abaixo e fazer login
        </p>
        <a href="/login">Faça login</a>
      </aside>
    </div>
</div>