section{
    width: 70vw;
    margin: 0 auto;
    padding: 1em;
    background-color: #232225b9;
    border-radius: 0 1em 1em 1em;

    display: flex;
    flex-direction: column;
    gap: 2em;

    .card{
        
        h2{
            padding: 1em;
            font-size: 1em;
            font-weight: bold;
        }

        ul{
            padding: 2em 1.5em;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1em;
            
            li{
                display: flex;
                padding: 1em 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #323135;
                text-align: center;

                position: relative;

                button{
                    appearance: none;
                    background-color: transparent;
                    border: none;
                    padding: .5em;
                    border-radius: .5em;
                    cursor: pointer;

                    &:hover{
                        background-color: #303033;
                    }
                }

                button:hover + #popup{
                    display: flex;
                }

                #popup{
                    display: none;
                    
                    position: absolute;
                    right: 35px;
                    top: 1.2em;
                    z-index: 1;

                    background-color: rgb(41, 41, 41);
                    width: fit-content;
                    border-radius: .2em;
                    overflow: hidden;
                    color: rgba(255, 255, 255, 0.626);
    
                    ul{
                        padding: 0;
                        gap: 0em;
                        
                        li{
                            display: flex;
                            padding: 1em 2em;
                            cursor: pointer;
                            gap: 1em;

                            &:hover{
                                color: white;
                            }
                        }
                    }

                    &:hover{
                        display: flex;
                    }
                }

                
            }

            
            
        }
    }

}