<section>
    <div class="card">
        <ul>
            @for (agendamento of agendamentos; track agendamento.id) {
            <li id="item">
                <div>
                    <h3>{{agendamento.data.replaceAll("-","/")}}</h3>
                    <h3>{{agendamento.horario.slice(0,5)}}</h3>
                </div>
                <p>{{agendamento.cliente}}</p>
                <p>{{agendamento.servico}}</p>

                <div>
                    <button>
                        <img src="moreIcon.svg" alt="Três pontos">
                    </button>

                    <div id="popup">
                        <ul>
                            <li (click)="navegarParaEdicao(agendamento.id!)">
                                <img src="editIcon.svg" alt="">
                                <p>Editar</p>
                            <!-- deletar(agendamento.id!) -->
                            </li>
                            <li (click)="setPopUpOpen()">
                                <img src="deleteIcon.svg" alt="">
                                <p>Cancelar</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            @if (isPopUpOpen) {
            <app-modal 
            titulo="Deseja cancelar esse agendamento?"
            mensagem="Ao cancelar um agendamento a ação não poderá ser revertida e você corre o risco de perder essa data, gostaria de continuar?"
            (fechar)="setPopUpOpen()"
            (function)="deletar(agendamento.id!)"
            ></app-modal>
        }
        }
        

        </ul>
        
    </div>
</section>

