<div id="container">
            
    <div>
        <h1>Serviços populares</h1>
        <app-card-servicos titulo="Corte masculino" preco="40,00"></app-card-servicos>
        <app-card-servicos titulo="Corte + Barba" preco="80,00"></app-card-servicos>
    
        <app-card-servicos titulo="Barba" preco="40,00"></app-card-servicos>
    </div>
    <div>
        <h1>Outros serviços</h1>
        <app-card-servicos titulo="Corte masculino" preco="40,00"></app-card-servicos>
        <app-card-servicos titulo="Corte + barba" preco="80,00"></app-card-servicos>
        <app-card-servicos titulo="Barba" preco="40,00"></app-card-servicos>
        <app-card-servicos titulo="Corte com pente + barba" preco="60,00"></app-card-servicos>
        <app-card-servicos titulo="Corte feminino" preco="60,00"></app-card-servicos>
        <app-card-servicos titulo="Corte com pente" preco="30,00"></app-card-servicos>
    </div>
    </div>