main{
    #mobile{
        display: none;
    }

    #header{
        display: none;
    }

    #desktop{
        display: flex;
        justify-content: space-between;
        padding: 1em 3em;
        align-items: center;
        background-color: #070A14;
        color: white;
        div{
            display: flex;
            gap: 1em;

            button{
                padding: 1em;
                appearance: none;
                border: none;
                border-radius: .5em;
                background-color: #B8952E;
                font-weight: bold;
                cursor: pointer;

                &:hover{
                    opacity: .9;
                }
            }

            #agenda{
                background-color: transparent;
                border: 2px solid #B8952E;
                color: #B8952E;
            }

            #agenda:hover{
                background-color: #B8952E;
                transition: all 200ms ease;
                color: black;
            }
        }
        ul{
            display: flex;
            list-style: none;
            gap: 1em;

            li{
                cursor: pointer;
            }

            li:hover{
                color: #B8952E;
            }
        }
    }

    #hero{
        background-image: url("/heroPage.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 65vh;

        display: flex;
        flex-direction: column;
        padding: 5em;
        text-align: center;
        color: white;
        gap: 1em;
        align-items: center;
        justify-content: center;

        h1{
            font-weight: bolder;
            font-size: 2.5em;
        }

        button{
            width: fit-content;
            cursor: pointer;
            padding: 1em 4em;
            appearance: none;
            background-color: #B8952E;
            border: none;
            border-radius: .5em;
            font-weight: bolder;
        }
    }

    #sobre{
        display: flex;
        padding: 0 5em 10vw;
        background-color: #0D121E;
        color: white;
        height: 100vh;
        justify-content: space-between;

        #texto{
            margin-top: 12em;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }

        #images{
            margin-right: 15em;
            img{
                height: 15em;
                width: 12em;
                position: relative;
            }

            img:nth-child(1){
                left: 10em;
                top: 5em;
            }

            img:nth-child(3){
                left: 10em;
                top: -8em;
            }

        }
    }

    #servicos{
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        text-align: center;
        padding: 5em 10vw;
        background-color: white;

        .galery{
            display: flex;
            gap: 1em;
            justify-content: space-between;
        }

        .card{
            width: fit-content;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.456);
            border-radius: .5em;
            overflow: hidden;

            div{
                display: flex;
                justify-content: space-between;
                padding: 1em;
                align-items: center;

                h1{
                    font-size: 1em;
                }

                p{
                    background-color: black;
                    color: white;
                    padding: .5em;
                    border-radius: .5em;
                }
            }

        }
    }

    #unidades{
        display: flex;
        flex-direction: column;
        gap: 2em;

        padding: 5em 10vw;
        background-color: #0D121E;
        text-align: center;
        justify-content: center;
        align-self: center;

        #titulo{
            color: #636A86;
            height: fit-content;
            font-size: 2em;
        }

        .galery{
            display: flex;
            gap: 1em;
            justify-content: space-between;
        }

        .cardUnidade{
            background-image:url("/unidade1.png");
            height: 25em;
            width: 20em;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 1em;

            display: flex;
            justify-content: center;
            align-items: end;
            padding: 1em;

            div {
                background: rgba(228, 228, 228, 0.15); 
                border-radius: 1em;
                padding: 0.5em;
                text-align: center;
                color: white;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px); 
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
            }
            
        }
    }
}


@media screen and (max-width:950px){
    main{
        #desktop{
            display: none;
        }

        #header{
            padding: 1em 2em;
            display: flex;
            justify-content: end;
            button{
                appearance: none;
                background-color: transparent;
                border: none;
                color: white;
                font-size: 2em;
            }
        }

        #mobile{
            display: flex;
            position: fixed;
            top: 0;
            justify-content: end;
            width: 100vw;
            height: 100vh;
            z-index: 2;
            background-color: #070a1449;
            transition: transform 0.3s ease;
        

            #container{

                #closeBtn{
                    appearance: none;
                    border: none;
                    background-color: transparent;
                    color: #B8952E;
                    font-size: 2em;
                }
            z-index: 2;
            width: 60%;
            display: flex;
            flex-direction: column;
            padding: 5em 3em;
            align-items: end;
            background-color: #070A14;
            color: white;
            justify-content: space-between;

            div{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1em;
    
                button{
                    padding: 1em;
                    appearance: none;
                    border: none;
                    border-radius: .5em;
                    background-color: #B8952E;
                    font-weight: bold;
                    cursor: pointer;
    
                    &:hover{
                        opacity: .9;
                    }
                }
    
                #agenda{
                    background-color: transparent;
                    border: 2px solid #B8952E;
                    color: #B8952E;
                }
    
                #agenda:hover{
                    background-color: #B8952E;
                    transition: all 200ms ease;
                    color: black;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                text-align: right;
                list-style: none;
                font-size: 1.5em;
                gap: 1em;
    
                li{
                    cursor: pointer;
                }
    
                li:hover{
                    color: #B8952E;
                }
            }

            }
            
        }
        
        #servicos, #unidades{
    
            .galery{
                display: flex;
                flex-direction: column;
            }
    
        }

        #sobre{
            flex-direction: column;
            height: fit-content;
            padding-bottom: 5em;
            
            #texto{
                margin: 0;
                text-align: center;
            }
        }

    }
}
