<main>
    <nav id="desktop">
        <ul>
            <a href="#sobre">
                <li>Sobre</li>
            </a>
            <a href="#servicos">
                <li>Serviços</li>
            </a>
            <a href="#unidades">
                <li>Unidades</li>
            </a>
        </ul>
    
        <div>
            <button id="agenda" [routerLink]="'agenda'">
                Minha agenda
            </button>
            <button [routerLink]="'servicos/lista'">
                Agendar horário
            </button>
        </div>
    </nav>

    <nav>
        <div id="header">
            <button (click)="openMenu()">
                <img src="menuIcon.svg" alt="">
            </button>
        </div>

        @if(isOpen){
            <div id="mobile">
                <div id="container">
                    <button id="closeBtn" (click)="openMenu()">
                        <img src="closeIcon.svg" alt="">
                    </button>
                    <ul>
                        <li>Sobre</li>
                        <li>Serviços</li>
                        <li>Quem somos</li>
                        <li>Contatos</li>
                    </ul>
                    <div>
                        <button id="agenda" [routerLink]="'agenda'">
                            Minha agenda
                        </button>
                        <button [routerLink]="'servicos/lista'">
                            Agendar horário
                        </button>
                    </div>
                </div>
    
            </div>
        }

        
        
    </nav>
    
    <body>
        <section id="hero">
            <h1>ESTILO É UM REFLEXO DA SUA ATITUDE E <br> SUA PERSONALIDADE.</h1>
            <p>Horário de funcionamento das 08:00 às 19:00</p>
            <button [routerLink]="'servicos/lista'">Agendar horário</button>
        </section>
    
        <section id="sobre">
            <div id="images">
                <img src="sobre1.png" alt="">
                <img src="sobre1.png" alt="">
                <img src="sobre1.png" alt="">
            </div>
    
            <div id="texto">
                <h1>Sobre</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ducimus, doloremque excepturi natus incidunt deserunt ut, vel magnam corporis esse doloribus cupiditate saepe consectetur magni omnis. Consequatur quis eligendi fugit?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quasi distinctio vero. Ratione ex ad similique ut, eligendi maxime accusamus dignissimos enim id numquam tenetur odio at quisquam et! Hic.</p>
                <p>Horário de funcionamento das 08:08 às 19:00</p>
            </div>
    
        </section>
    
        <section id="servicos">
            <h1>SERVIÇOS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum illo deserunt, repellendus quia deleniti aliquid eligendi maiores sint ullam iusto sit numquam minus harum quaerat explicabo repudiandae quos eaque adipisci.</p>
            <div class="galery">
                <div class="card">
                    <img src="servico1.png" alt="">
                    <div>
                        <h1>Corte de cabelo</h1>
                        <p>R$ 40,00</p>
                    </div>
                </div>
    
                <div class="card">
                    <img src="servico1.png" alt="">
                    <div>
                        <h1>Corte de cabelo</h1>
                        <p>R$ 40,00</p>
                    </div>
                </div>
    
                <div class="card">
                    <img src="servico1.png" alt="">
                    <div>
                        <h1>Corte de cabelo</h1>
                        <p>R$ 40,00</p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="unidades">
            <h1 id="titulo">NOSSAS UNIDADES</h1>
    
            <div class="galery">
                <div class="cardUnidade">
                    <div>
    
                    <h1>Canal 1</h1>
                    <h2>Santos - SP</h2>
                    </div>
                </div>
    
                <div class="cardUnidade">
                    <div>
    
                    <h1>Canal 3</h1>
                    <h2>Santos - SP</h2>
                    </div>
                </div>

                <div class="cardUnidade">
                    <div>
    
                    <h1>Canal 7</h1>
                    <h2>Santos - SP</h2>
                    </div>
                </div>
            </div>
        </section>
    </body>
</main>
